@import "tailwindcss";

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #1a0533;
  }
  ::-webkit-scrollbar-thumb {
    background: #7c3aed;
    border-radius: 10px;
  }
}
